body{
    background-image: linear-gradient(rgba(54, 54, 54, 0.404),rgba(255, 255, 255, 0.336)),url(../../PROJECT01/picPro1/newTinder.webp); 
    background-repeat: no-repeat; 
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
} 
.top .logo img,span{
    height: 35px; 
    font-weight: 700;
    color: azure; 
    font-size: 35px;
}
.top{
    display: flex;
    justify-content: start; 
    /* width: 99vw;  */
    height: 15vh;
}
.top >*{
    display: flex; 
    margin: 10px; 
    color: white;
} 
.topright{
    /* border: 1px solid red;  */
    align-items: center; 
    width: 200px;
    justify-content: end; 
    position: absolute; 
    left: 80vw;
}
.topright >*{
    margin: 5px; 
    width: 70px;
} 
.top .login{
    border: 2px solid white; 
    text-align: center; 
    background-color: white; 
    color: black;
    border-radius: 10px;
}
.top .lan{
    color: white;
} 
.mid{
    height: 70vh; 
    display: flex; 
    flex-flow: column; 

} 
.mid >*{
    display: flex;
    align-self: center; 
}
.mid h1{
    width: 30%; 
    align-self: center;
    text-align: center; 
    color: white; 
    font-size: 70px; 
    /* display: flex; 
    justify-content: center; */
}
.mid .crea {
    width: 15%; 
    border: 1px solid red; 
    background-color: orange; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
}
.mid .crea p{
    color: white;
}